.beastCard {
  margin-top: 10px;
  margin-bottom: 10px;
}

sup {
  font-size: .8rem;
  background-color: lightblue;
  border-radius: 50%;
  padding: 0 5px;
}

.likeDiv {
  padding: 5px;
  margin:10px;
  background-color: lightblue;
  border-radius: 5px;
  width: fit-content;
}

.likeDiv:hover {
  cursor: pointer;
  transform: scale(1.1);
}

img {
  max-width: 300px;
  height: auto;
  object-fit: fill;
}